<app-page-header
  [link]="'departments'"
  [prev]="'Departments'"
  [current]="'Add new Department'"
></app-page-header>

<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form
          [formGroup]="newDepartementFormGroup"
          (ngSubmit)="handleAddDepartement()"
        >
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">
                Information about department<span
                  ><a href="javascript:;"
                    ><i class="feather-more-vertical"></i></a
                ></span>
              </h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Label <span class="login-danger">*</span></label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="label"
                  placeholder="label ...."
                />
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label
                  >Chef of Department<span class="login-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="text"
                  formControlName="chefDepartment"
                  placeholder="chef of department...."
                />
              </div>
            </div>
            <div
              class="col-12 d-flex align-items-center justify-content-center"
            >
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Confirm</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
